@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: rgb(255, 81, 81);
}
#list-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body {
    margin: 0px;
    padding-bottom: 1fr;
}

h1 {
    color: rgb(52, 104, 79)
}

main {
    padding: 16px;
}

footer {
    padding: 24px 24px 24px 24px;
    background-color: rgb(182, 228, 110);
    position: static;
    bottom: 0%;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

h3 {
    color: rgb(70, 104, 19);
    text-decoration: none;


}
nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: green;
}

.recipe {
    color: black;
    text-decoration: none;
}
tr:nth-child(even) {
    background-color: rgb(204, 204, 204);
}
